registry=https://registry.npmjs.org/
@*:registry=https://registry.npmjs.org/
@godaddy:registry=https://registry.npmjs.org/
@opentelemetry:registry=https://registry.npmjs.org/
audit-level=moderate
fund=false
engine-strict=true
